#all{
    position: relative;
    width: 520px;
}

#i1 {
    position: relative;
    width: 520px;
    font-family:Arial, Helvetica, sans-serif;
}

p.largebad {
    border-style: outset;
    color:#ff0000;
    font-size: 400%;
    font-family:'Courier New', Courier, monospace
}

p.largegood {
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    color:#00ff00
}

p.largelego {
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    color:#adff2f
}

p.largechoice {
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    color:#00ffff;
}

p.outset {
    border-style: outset;
}

p.back {
    border-style: outset;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-stretch: wider;
}

a {
    text-decoration: underline;
    color:limegreen;
}

* {
    text-align: center;

}

